.link_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.link_container a {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.1rem;
  color: var(--color-1);
}
.link_container a:first-child {
  background-color: var(--color-2);
}
.link_container a:nth-child(2) {
  background-color: var(--color-3);
}
