@use "sass:math";
@use "sass:map";
@import "../globalStyle.module.scss";
$h2gridRow: 4;
$pGridRow: $h2gridRow + 1;
$pGridRowEnd: $pGridRow + 1;

$cardWidth: 1200px;
$cardHeight: 400px;
$imgWidth: math.div($cardWidth, 2);
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project_card {
  display: flex;
  align-items: center;
  position: relative;
  max-width: $cardWidth;
  width: 100%;
  height: $cardHeight;
  margin-bottom: map.get($spacing, xlarge);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  // &:hover .triangle.left {
  //   clip-path: polygon(0 0, 0 100%, 0 100%);
  // }
  // &:hover .triangle.right {
  //   clip-path: polygon(101% 0, 100% 0, 110% 100%);
  // }
}
.project_content {
  grid-row: 1/1;
  display: flex;
  flex-direction: column;
  z-index: 4;
  background: rgba(0, 0, 0, 0.639);
  p {
    min-height: 8rem;
  }
}
@media (min-width: map.get($breakpoints,"phone")) {
  .project_content {
    background: none;
  }
}
.image_link_container {
  position: relative;
  grid-row: 1/1;
  z-index: 3;
  background: none;
  width: $imgWidth;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  &:hover > .triangle.left {
    clip-path: polygon(0 0, 0 100%, 0 100%);
  }
  &:hover > .triangle.right {
    clip-path: polygon(101% 0, 100% 0, 110% 100%);
  }
}
.project_card:nth-child(odd) {
  & > .project_content {
    grid-column: 3/-1;
    align-items: flex-end;
  }
  & > .image_link_container {
    grid-column: 1/7;
    align-items: flex-start;
  }
}
.project_card:nth-child(even) {
  & > .project_content {
    grid-column: 1/10;
    align-items: flex-start;
  }
  & > .image_link_container {
    grid-column: 7/-1;
    align-items: flex-end;
  }
}
.project_card_container,
.project_card .skills_list {
  list-style-type: none;
}
.project_card .skills_list .skills_icon {
  color: $accentColor;
}

.project_card_container {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
}
.project_card h2 {
  grid-column: 1;
  grid-row: $h2gridRow;
  white-space: nowrap;
  margin-bottom: 0;
  font-size: 1.5rem;
  color: $accentColor;
  text-decoration: underline;
  text-align: center;
}
.project_card p {
  grid-row: #{$pGridRow} / #{$pGridRowEnd};
  margin: 0;
  padding: 1rem 0.5rem;
  background: rgba(0, 0, 0, 0.776);
}
.project_description * {
  width: fit-content;
}

.project_card .skills_list {
  grid-row: #{$pGridRowEnd};
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 30ch;
  width: 100%;
}

.project_content .skills_icon {
  font-size: 30px;
}
.projects_btn {
  margin: 1rem;
  width: 7rem;
}

.triangle {
  position: absolute;
  z-index: 1;
  filter: blur(3px);
  width: 100%;
  height: 100%;
  min-height: 200px;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  background-repeat: no-repeat;
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  pointer-events: none;

  &.left {
    clip-path: polygon(0 0, 0% 100%, 110% 100%);
  }

  &.right {
    clip-path: polygon(100% 0, 0 0, 100% 110%);
  }
}
.small_screen_btn_container {
  display: none;
}

@media (max-width: map.get($breakpoints, tablet)) {
  .small_screen_btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .image_link_container {
    pointer-events: none;
    position: absolute;
    opacity: 0.3;
    width: 100%;
  }
  .image_link_container .projects_btn {
    display: none;
  }
  .project_card {
    border: 2px solid #77f6fd29;
    border-radius: 10px;
    height: auto;
    background: #77f6fd29;
    min-width: 200px;
    max-width: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .project_card .project_content {
    grid-column: 1/12;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .project_card h2 {
    white-space: normal;
    text-align: center;
  }
  .project_card:nth-child(odd) {
    & > .project_content {
      align-items: center;
    }
  }
  .project_card:nth-child(even) {
    & > .project_content {
      grid-column: 1/10;
      align-items: center;
    }
  }
}

$speed: 0.5s;

.button-flip {
  opacity: 1;
  outline: 0;
  color: $backgroundColor;
  max-width: 35rem;
  color: transparent;

  line-height: 0px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
  text-transform: uppercase;
  &:hover {
    &:after {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }

    &:before {
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }

  &:after {
    top: 0;
    left: 0;
    opacity: 0;
    line-height: 40px;
    width: 100%;
    display: block;
    background: $backgroundColor;
    color: $accentColor;
    transition: $speed;
    position: absolute;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
  }

  &:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: $backgroundColor;
    background: $accentColor;
    line-height: 40px;

    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: $speed;
    position: relative;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
  }
}
