#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project_list {
  list-style: none;
  flex-wrap: wrap;
}
.project_container {
  --card-size: 15rem;
  --card-height: 25rem;
  --border-radius: 10px;
  background: grey;
  margin: 5px;
  width: var(--card-size);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: var(--border-radius);
}
.project_links {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.project_container h2 {
  text-align: center;
  font-size: 1.5rem;
}

.project_links a {
  text-align: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 5px;
  font-size: var(--font-size);
}
.project_links a:first-child {
  background-color: var(--color-3);
  color: var(--color-2);
}
.project_links a:nth-child(2) {
  background-color: var(--color-2);
  color: var(--color-3);
}

.bottom_container {
  position: relative;
  height: 100%;
  width: 100%;
}
.project_image {
  width: var(--card-size);
  height: var(--card-size);
}
.project_hover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--color-1);
  opacity: 0;
  display: flex;
  flex-direction: column;
  color: var(--color-3);
  top: 0;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.project_hover h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.project_hover li {
  font-size: 1rem;
}
.project_hover:hover {
  opacity: 1;
}
.project_skills {
  background-color: none;
}

/* CSS */
.current_projects_btn {
  align-items: center;
  font-weight: 400;
  background-color: var(--right-color);
  border: 3px solid var(--left-color);
  box-sizing: border-box;
  color: var(--left-color);
  cursor: pointer;
  display: inline-flex;
  height: 3rem;
  justify-content: center;
  line-height: 1.5rem;
  min-width: 140px;
  width: fit-content;
  outline: 0;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.current_projects_btn:focus {
  color: #171e29;
}

.current_projects_btn:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.current_projects_btn:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .current_projects_btn {
    min-width: 170px;
  }
}
