:root {
  --arm-width: 10px;
}
@keyframes ExtendCircleAnimation {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: var(--circle-size);
    height: var(--circle-size);
  }
}
@keyframes ExtendArmsAnimation {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--radius) * 2);
  }
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.background {
  z-index: -1;
}
