@import "../globalStyle.module.scss";

$count: 0;
$animation-duration: 3s;
$totalAnimationTime: ($radius * 0.25) * $animation-duration;

:export {
  // radius: $radius;
  totalAnimationTime: $totalAnimationTime;
}
