@import "../globalStyle.module.scss";
$cursorBallSize: 8rem;
$cursorBallZ: 4;
$count: 0;
$animation-duration: 3s;

$hexBackgroundColor: rgb(32 30 43);
$animationDelayIncrement: 0.25s;
$lastAnimationStart: $animationDelayIncrement * $radius;
$totalAnimationTime: $lastAnimationStart + $animation-duration;
$hexCount: $radius + 1;
$startDelay: $lastAnimationStart;

:export {
  // radius: $radius;
  totalAnimationTime: $totalAnimationTime;
}
