@import "../PageLoadAnimation/style.module.scss";

@keyframes anim {
  0% {
    filter: hue-rotate(0deg);
    scale: 1;
    visibility: visible;
  }
  100% {
    filter: hue-rotate(360deg);
    scale: 1;
  }
}
@keyframes jitter {
  0% {
    transform: skew(0deg) translate(0px, 0px);
  }
  17% {
    transform: skew(0.5deg) translate(-5px, 2px);
  }
  32% {
    transform: skew(3deg) translate(2px, 2px);
  }
  48% {
    transform: skew(0deg) translate(0px, 2px);
  }
  63% {
    transform: skew(-3deg) translate(5px, -2px);
  }
  79% {
    transform: skew(-0.5deg) translate(-2px, -5px);
  }
  100% {
    transform: skew(0deg) translate(0px, 0px);
  }
}
.dot {
  background: radial-gradient(
    circle,
    rgba(0, 255, 0, 1) 0%,
    rgba(0, 255, 0, 0) 30%
  );
  height: $cursorBallSize;
  width: $cursorBallSize;
  border-radius: 50%;
  position: absolute;
  visibility: hidden;
  animation: anim 2s linear infinite, jitter 2s linear infinite;
  animation-delay: $totalAnimationTime;
}
.cursor {
  transition: top 0.4s, left 0.2s;
  transition-timing-function: cubic-bezier(0.05, 1, 0.68, 0.69);
  height: $cursorBallSize;
  width: $cursorBallSize;
  transform: translate(-50%, -50%);
  padding: $cursorBallSize;
  position: absolute;
  z-index: $cursorBallZ;
}
