:root {
  --size: 13rem;
}
.orbit .center-image {
  width: var(--size);
  position: relative;
}
.center-image-slides {
  position: absolute;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--green-light);
  z-index: 10;
  transition: opacity 500ms;
}
.profile-image {
  position: absolute;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--green-light);
}
.yellow {
  background-color: var(--yellow-light);
}
.center-image .options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.options {
  z-index: 20;
}
.options a {
  cursor: pointer;
  width: 100%;
  position: absolute;
  text-align: center;
  opacity: 0.8;
  transition: opacity 500ms;
  text-decoration: none;
}
.options a:hover {
  opacity: 1;
}
.options a span {
  line-height: calc(var(--size) / 2);
  font-size: calc(var(--size) / 6);
}

.repository {
  border-radius: var(--size) var(--size) 0 0;
  height: calc(var(--size) / 2);
  color: var(--background);
  background-color: var(--anti-background);
}
.demo {
  background-color: var(--background);
  color: var(--anti-background);
  border-radius: 0 0 var(--size) var(--size);
  height: calc(var(--size) / 2);
  bottom: 0;
}
.orbit .center-image .center-image-slides {
  position: absolute;
  transition: opacity 500ms;
}

.opacity1 {
  opacity: 1;
}
.opacity0 {
  opacity: 0;
}
