.profile-image {
  position: absolute;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--green-light);
  z-index: 10;
  /* animation: EnlargeAnimation 2s linear; */
}
.yellow {
  background-color: var(--yellow-light);
}
.center-image img {
  position: absolute;
  transition: opacity 500ms;
}
.center-image img:not(:first-child):hover {
  opacity: 0;
}
.orbit .center-image {
  width: var(--size);
  position: relative;
  z-index: 10;
}
.orbit .center-image img {
  position: absolute;
  transition: opacity 500ms;
}
.orbit .center-image img:not(:first-child):hover {
  opacity: 0;
}
