:root {
  --size: 13rem;
}
.orbit .center-image {
  width: var(--size);
  position: relative;
}
.center-image-slides {
  position: absolute;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--green-light);
  z-index: 10;
  transition: opacity 500ms;
}
.profile-image {
  position: absolute;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--green-light);
}
.yellow {
  background-color: var(--yellow-light);
}
.center-image .options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.options a {
  cursor: pointer;
}
.orbit .center-image .center-image-slides {
  position: absolute;
  transition: opacity 500ms;
}

.opacity1 {
  opacity: 1;
}
.opacity0 {
  opacity: 0;
}
