@keyframes Expand {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(6);
  }
}
.display-none {
  display: none;
}
.expand {
  height: 100px;
  width: 100px;
  display: grid;
  place-items: center;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  transform: translate(-50%, -50%);
  background: rgb(219 219 219);
  z-index: 100;
  animation: Expand 2s ease-out;
  animation-fill-mode: forwards;
  transform-origin: center center;
}
.exit-button {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  line-height: 10px;
  border-radius: 50%;
  font-size: 8px;
  padding: 0;
  border: none;
  margin: 1px;
}
