@use "sass:map";
@use "sass:math";
@use "sass:color";

$radius: 25; //Hex-radius
$width: 54px;
$halfWidth: math.div($width, 2);
$accentColor: #77f6fd;
$accentColorWithBlur: opacify($accentColor, 0.161);
$backgroundColor: rgb(30, 28, 41, 1);
$backgroundColorWithBlur: color.scale($backgroundColor, $alpha: -25%);
$backgroundHexCount: 100;
$breakpoints: (
  phone: 640px,
  tablet: 768px,
  desktop: 1024px,
) !default;
$spacing: (
  mini: 0.5rem,
  small: 1rem,
  medium: 2rem,
  large: 3rem,
  xlarge: 5rem,
);
$pagePadding: 0 map.get($spacing, xlarge);
:export {
  radius: $radius;
  backgroundHexCount: $backgroundHexCount;
}
