:root {
  --ExtendArmAnimation-length: 1.5s;
  --ExtendArmAnimation-type: ease-out;
}
/* text: "About Me",*/
@keyframes ExtendArmAnimation {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(var(--radius), 0rem);
  }
}
  li:nth-child(1) {
  animation: ExtendArmAnimation var(--ExtendArmAnimation-length)
    var(--ExtendArmAnimation-type);
  transform: translate(var(--radius), 0rem);
}
/* text: "Pokemon Extension", */
@keyframes ExtendArm2Animation {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(var(--arm-length), var(--arm-length));
  }
}
.orbit li:nth-child(2) {
  transform: translate(var(--arm-length), var(--arm-length));
  animation: ExtendArm2Animation var(--ExtendArmAnimation-length)
    var(--ExtendArmAnimation-type);
}
/* text: "Weather", */
@keyframes ExtendArm3Animation {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(0, var(--radius));
  }
}
.orbit li:nth-child(3) {
  animation: ExtendArm3Animation var(--ExtendArmAnimation-length)
    var(--ExtendArmAnimation-type);
  transform: translate(0, var(--radius));
}
/* text: "Fish", */
@keyframes ExtendArm4Animation {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(calc(-1 * var(--arm-length)), var(--arm-length));
  }
}
.orbit li:nth-child(4) {
  animation: ExtendArm4Animation var(--ExtendArmAnimation-length)
    var(--ExtendArmAnimation-type);
  transform: translate(calc(-1 * var(--arm-length)), var(--arm-length));
}
/* text: "Reddit Post Timer", */
@keyframes ExtendArm5Animation {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(calc(var(--radius) * -1), 0rem);
  }
}
.orbit li:nth-child(5) {
  animation: ExtendArm5Animation var(--ExtendArmAnimation-length)
    var(--ExtendArmAnimation-type);
  transform: translate(calc(var(--radius) * -1), 0rem);
}
/* text: "Linkedin", */
@keyframes ExtendArm6Animation {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(
      calc(-1 * var(--arm-length)),
      calc(-1 * var(--arm-length))
    );
  }
}
.orbit li:nth-child(6) {
  animation: ExtendArm6Animation var(--ExtendArmAnimation-length)
    var(--ExtendArmAnimation-type);
  transform: translate(
    calc(-1 * var(--arm-length)),
    calc(-1 * var(--arm-length))
  );
}
/* text: "Resume", */
@keyframes ExtendArm7Animation {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(0, calc(var(--radius) * -1));
  }
}
.orbit li:nth-child(7) {
  animation: ExtendArm7Animation var(--ExtendArmAnimation-length)
    var(--ExtendArmAnimation-type);
  transform: translate(0, calc(var(--radius) * -1));
}
/* text: "this site!", */
@keyframes ExtendArm8Animation {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(var(--arm-length), calc(-1 * var(--arm-length)));
  }
}
.orbit li:nth-child(8) {
  animation: ExtendArm8Animation var(--ExtendArmAnimation-length)
    var(--ExtendArmAnimation-type);
  transform: translate(var(--arm-length), calc(-1 * var(--arm-length)));
}
