.bubble-image {
  height: 60%;
  width: 60%;
}
.bubble {
  position: absolute;
}
.image-container {
  background-color: whitesmoke;
}
.orbit ul {
  --icon-bg: var(--green-light);
  --text-bg: var(--green-dark);
  --icon-bg: var(--color-2);
  --text-bg: #186abd;
  display: grid;
  place-items: center;
  width: var(--size);
  height: var(--size);
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  transform-origin: center;
  animation: orbit var(--speed) linear infinite;
}
.orbit ul:hover {
  animation-play-state: paused;
  --orbit-play-state: paused;
  --dynamic-backgrnd-play-state: paused;
}
.orbit li {
  position: absolute;
  width: var(--li-width);
  aspect-ratio: 1;
  border-radius: 50%;
  font-weight: 500;
  color: var(--white-light);
  text-align: center;
  line-height: 1;
  display: grid;
  place-items: center;
  list-style: none;
  z-index: 2;
}
.orbit li > a {
  display: grid;
  place-items: center;
}
.orbit li .image-container,
.orbit li p {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: absolute;
  overflow: hidden;
  animation: orbit var(--speed) linear reverse infinite;
  animation-play-state: var(--orbit-play-state, running);
}
.orbit .image-container {
  border: none;

  border-radius: 50%;
}
.orbit li p {
  font-size: 1.5rem;
  background: var(--text-bg);
  transition: opacity 500ms;
  opacity: 0;
  color: var(--anti-background);
}
.orbit li:hover > p {
  opacity: 1;
}
