.dynamic-backgrnd {
  position: absolute;
  width: 100%;
  height: 100%;
  left: var(--initial-left);
  position: absolute;
  --dynamic-backgrnd-play-state: running;
  animation: Transition var(--speed) var(--delay) linear infinite;
}
.bubble-image {
  z-index: 2;
}
.orbit li:nth-child(2) .dynamic-backgrnd,
.orbit li:nth-child(1) .dynamic-backgrnd,
.orbit li:nth-child(8) .dynamic-backgrnd,
.orbit li:nth-child(7) .dynamic-backgrnd {
  --initial-left: -100%;
  background-color: var(--right-color);
}
.orbit li:nth-child(2) a,
.orbit li:nth-child(1) a,
.orbit li:nth-child(8) a,
.orbit li:nth-child(7) a {
  background-color: var(--left-color);
}
.orbit li:nth-child(2) .dynamic-backgrnd {
  --delay: 10s;
  background-color: var(--right-color);
}
.orbit li:nth-child(1) .dynamic-backgrnd {
  --delay: 25s;
  background-color: var(--right-color);
}
.orbit li:nth-child(8) .dynamic-backgrnd {
  --delay: 40s;
  background-color: var(--right-color);
}
.orbit li:nth-child(7) .dynamic-backgrnd {
  --delay: 55s;
  background-color: var(--right-color);
}

@keyframes Transition {
  0% {
    left: var(--initial-left);
  }
  8.3% {
    left: 0%;
  }
  50% {
    left: 0%;
  }
  58.3% {
    left: var(--initial-left);
  }
  100% {
    left: var(--initial-left);
  }
  100% {
    left: var(--initial-left);
  }
}
.orbit li:nth-child(3) .dynamic-backgrnd,
.orbit li:nth-child(4) .dynamic-backgrnd,
.orbit li:nth-child(5) .dynamic-backgrnd,
.orbit li:nth-child(6) .dynamic-backgrnd {
  --initial-left: 100%;
  background-color: var(--left-color);
}
.orbit li:nth-child(3) a,
.orbit li:nth-child(4) a,
.orbit li:nth-child(5) a,
.orbit li:nth-child(6) a {
  background-color: var(--right-color);
}
.orbit li:nth-child(6) .dynamic-backgrnd {
  --delay: 10s;
}
.orbit li:nth-child(5) .dynamic-backgrnd {
  --delay: 25s;
}
.orbit li:nth-child(4) .dynamic-backgrnd {
  --delay: 40s;
}
.orbit li:nth-child(3) .dynamic-backgrnd {
  --delay: 55s;
}
.orbit li a svg {
  z-index: 3;
}
