:root {
  --radius: 15rem;
  --arm-length: 10.6066rem;
  --ExtendArmAnimation-length: 1.5s;
  --ExtendArmAnimation-type: ease-out;
}
.orbiting {
  animation: orbit var(--speed) linear infinite;
}
.anti-orbiting {
  animation: orbit var(--speed) linear reverse infinite;
}
.bubble-image {
  height: 60%;
  width: 60%;
}
li {
  list-style: none;
  z-index: 2;
}
.bubble {
  position: absolute;
}
.orbit ul {
  display: grid;
  place-items: center;
  width: var(--size);
  height: var(--size);
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  --icon-bg: var(--green-light);
  --text-bg: var(--green-dark);
  transform-origin: center;
  animation: orbit var(--speed) linear infinite;
}

.orbit ul:hover {
  animation-play-state: paused;
  --orbit-play-state: paused;
}
.orbit li {
  position: absolute;
  width: var(--li-width);
  aspect-ratio: 1;
  border-radius: 50%;
  font-weight: 500;
  color: var(--white-light);
  text-align: center;
  line-height: 1;
  display: grid;
  place-items: center;
}
.orbit li .image-container,
.orbit li p {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: inherit;
  position: absolute;
  animation: orbit var(--speed) linear reverse infinite;
  animation-play-state: var(--orbit-play-state, running);
}
.orbit .image-container {
  border: none;
  background-color: var(--icon-bg);
}
.orbit li > p {
  font-size: 1.5rem;
  background: var(--text-bg);
  transition: opacity 500ms;
  opacity: 0;
  color: var(--anti-background);
}
.orbit li:hover > p {
  opacity: 1;
}
/* text: "About Me",*/
@keyframes ExtendArmAnimation {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(var(--radius), 0rem);
  }
}
.orbit li:nth-child(1) {
  --icon-bg: var(--blue-light);
  --text-bg: var(--blue-dark);
  animation: ExtendArmAnimation var(--ExtendArmAnimation-length)
    var(--ExtendArmAnimation-type);
  transform: translate(var(--radius), 0rem);
}
/* text: "Pokemon Extension", */

@keyframes ExtendArm2Animation {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(var(--arm-length), var(--arm-length));
  }
}
.orbit li:nth-child(2) {
  --icon-bg: var(--green-light);
  --text-bg: var(--green-dark);
  transform: translate(var(--arm-length), var(--arm-length));
  animation: ExtendArm2Animation var(--ExtendArmAnimation-length)
    var(--ExtendArmAnimation-type);
}
/* text: "Weather", */
@keyframes ExtendArm3Animation {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(0, var(--radius));
  }
}
.orbit li:nth-child(3) {
  --icon-bg: var(--pink-light);
  --text-bg: var(--pink-dark);
  animation: ExtendArm3Animation var(--ExtendArmAnimation-length)
    var(--ExtendArmAnimation-type);
  transform: translate(0, var(--radius));
}
/* text: "Fish", */

@keyframes ExtendArm4Animation {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(calc(-1 * var(--arm-length)), var(--arm-length));
  }
}
.orbit li:nth-child(4) {
  --icon-bg: var(--teal-light);
  --text-bg: var(--teal-dark);
  animation: ExtendArm4Animation var(--ExtendArmAnimation-length)
    var(--ExtendArmAnimation-type);
  transform: translate(calc(-1 * var(--arm-length)), var(--arm-length));
}
/* text: "Reddit Post Timer", */

@keyframes ExtendArm5Animation {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(calc(var(--radius) * -1), 0rem);
  }
}
.orbit li:nth-child(5) {
  --icon-bg: var(--red-light);
  --text-bg: var(--red-dark);
  animation: ExtendArm5Animation var(--ExtendArmAnimation-length)
    var(--ExtendArmAnimation-type);
  transform: translate(calc(var(--radius) * -1), 0rem);
}
/* text: "Linkedin", */

@keyframes ExtendArm6Animation {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(
      calc(-1 * var(--arm-length)),
      calc(-1 * var(--arm-length))
    );
  }
}
.orbit li:nth-child(6) {
  --icon-bg: var(--linkedin-blue);
  --text-bg: var(--linkedin-blue-dark);
  animation: ExtendArm6Animation var(--ExtendArmAnimation-length)
    var(--ExtendArmAnimation-type);
  transform: translate(
    calc(-1 * var(--arm-length)),
    calc(-1 * var(--arm-length))
  );
}
/* text: "Resume", */
@keyframes ExtendArm7Animation {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(0, calc(var(--radius) * -1));
  }
}
.orbit li:nth-child(7) {
  --icon-bg: var(--purple-light);
  --text-bg: var(--purple-dark);
  animation: ExtendArm7Animation var(--ExtendArmAnimation-length)
    var(--ExtendArmAnimation-type);
  transform: translate(0, calc(var(--radius) * -1));
}
/* text: "this site!", */
@keyframes ExtendArm8Animation {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(var(--arm-length), calc(-1 * var(--arm-length)));
  }
}
.orbit li:nth-child(8) {
  --icon-bg: var(--orange-light);
  --text-bg: var(--orange-dark);
  animation: ExtendArm8Animation var(--ExtendArmAnimation-length)
    var(--ExtendArmAnimation-type);
  transform: translate(var(--arm-length), calc(-1 * var(--arm-length)));
}
.arm {
  position: absolute;
  top: calc(var(--li-width) / 2);

  transform-origin: top;
  background-color: var(--anti-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.support-arm {
  width: var(--arm-width);
  height: var(--radius);
}
.connector-arm {
  width: var(--arm-width);
  height: var(--radius);
}
.orbit li:nth-child(1) .support-arm {
  transform: rotate(90deg);
}
.orbit li:nth-child(2) .support-arm {
  transform: rotate(135deg);
}
.orbit li:nth-child(3) .support-arm {
  transform: rotate(180deg);
}
.orbit li:nth-child(4) .support-arm {
  transform: rotate(225deg);
}
.orbit li:nth-child(5) .support-arm {
  transform: rotate(270deg);
}
.orbit li:nth-child(6) .support-arm {
  transform: rotate(315deg);
}

.orbit li:nth-child(8) .support-arm {
  transform: rotate(45deg);
}
.orbit li:nth-child(1) .connector-arm {
  transform: rotate(22.5deg);
}
.orbit li:nth-child(2) .connector-arm {
  transform: rotate(67.5deg);
}
.orbit li:nth-child(3) .connector-arm {
  transform: rotate(112.5deg);
}
.orbit li:nth-child(4) .connector-arm {
  transform: rotate(157.5deg);
}
.orbit li:nth-child(5) .connector-arm {
  transform: rotate(202.5deg);
}
.orbit li:nth-child(6) .connector-arm {
  transform: rotate(247.5deg);
}
.orbit li:nth-child(7) .connector-arm {
  transform: rotate(292.5deg);
}
.orbit li:nth-child(8) .connector-arm {
  transform: rotate(337.5deg);
}
