@media (max-width: 47.8125rem) {
  :root {
    --radius: 12rem;
    --arm-length: 8.485rem;
    --li-width: 6rem;
  }
  .orbit li > p {
    font-size: 1.2rem;
  }
}
@media (max-width: 37.5rem) {
  :root {
    --radius: 9rem;
    --arm-length: 6.364rem;
    --li-width: 4.5rem;
  }
  .orbit li > p {
    font-size: 1rem;
  }
}
@media (max-width: 25rem) {
  :root {
    --radius: 7rem;
    --arm-length: 4.9497rem;
    --li-width: 3.5rem;
  }

  .orbit li > p {
    font-size: 0.85rem;
  }
}
