:root {
  --pi: 3.14159265359;
  /* FROM HOME */
  /* --left-color: #4831d4; */
  /* --right-color: #ccf381; */
}
.dynamic-backgrnd {
  --circumference: calc(var(--radius) * 2 * var(--pi));
  --arc-length: calc(var(--circumference) / var(--size));
  --animation-length: calc(var(--speed) / var(--arc-length) * 2);
  --dynamic-backgrnd-play-state: running;
  /* border-radius: 50%; */
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: var(--left-color);
  /* background-color: transparent; */

  /* animation: ChangeBackground 20.718327158s linear infinite; */
  /* animation: ChangeBackground 14.805s linear infinite; */
  /* animation: ChangeBackground calc(var(--speed) / 10.5) linear infinite; */
  animation-play-state: var(--dynamic-backgrnd-play-state);
}
.orbit .image-container {
  background-color: var(--right-color);
}
.bubble-image {
  z-index: 2;
}
@keyframes ChangeBackground {
  0% {
    width: 0%;
  }
  5% {
    width: 100%;
  }
  45% {
    width: 100%;
  }
  55% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}

/* text: "About me", top position */
.orbit li:nth-child(7) .dynamic-backgrnd {
  animation: ChangeBackground 120s linear infinite;
}
.orbit li:nth-child(8) .dynamic-backgrnd {
  animation: ChangeBackground 120s linear infinite;
  animation-delay: 45s;
  animation-direction: reverse;
}
/* linkedin */
.orbit li:nth-child(1) .dynamic-backgrnd {
  animation: ChangeBackground 120s linear infinite;

  animation-delay: 30s;
  animation-direction: reverse;
}
/* pokeball */
.orbit li:nth-child(2) .dynamic-backgrnd {
  animation: ChangeBackground 120s linear infinite;

  animation-delay: 15s;
  animation-direction: reverse;
}
