@use "sass:map";
@import "./components/globalStyle.module.scss";

body {
  background-color: $backgroundColor;
  color: white;
  line-height: 1.5;
}
button {
  color: white;
}
p {
  max-width: 60ch;
}

section h1 {
  align-self: flex-start;
}
section {
  padding: 0 map.get($spacing, medium);
  @media (max-width: map.get($breakpoints,"phone")) {
    section {
      padding: 0 map.get($spacing, small);
    }
  }
}
