.theme-dark {
  --color-1: rgb(25, 41, 62);
  --color-2: rgb(237, 100, 68);
  --color-3: rgb(146, 222, 201);
  --color-4: rgb(0, 150, 135);
  --section-background: rgb(25, 41, 62);
  --projects-background: rgb(52, 84, 126);
  --font-color: white;
  --experience-card-border-color: rgb(25, 41, 62);
  --about-me-accent: rgb(109, 8, 242);
  --box-shadow: 0 5px 5px 0 rgb(38 81 99/ 50%),
    0 0 0 1px var(--section-background);
}
.theme-light {
  --color-1: #dee0b1;
  --color-2: rgb(237, 100, 68);
  --color-3: rgb(0, 200, 83);
  --color-4: rgb(0, 150, 135);
  --section-background: rgb(255, 255, 255);
  --experience-card-border-color: rgb(230, 236, 248);
  --font-color: black;
  --box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%),
    0 0 0 1px var(--section-background);
  --about-me-accent: rgb(109, 8, 242);
}
.opacity1 {
  opacity: 1;
}
.opacity0 {
  opacity: 0;
}
.App {
  position: relative;
}
@keyframes orbit {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes hold-position {
  100% {
    transform: rotate(-1turn);
  }
}
@keyframes EnlargeAnimation {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 100%;
  }
}

section {
  min-height: 200px;
  color: black;
}
section > h1 {
  text-align: center;
  text-decoration: underline;
  /* text-decoration-color: var(--color-2); */
  /* color: var(--color-3); */
  width: 100%;
  margin: 0;
  padding: 0.67em 0;
  font-size: 4rem;
}
section > p {
  font-size: 1.25rem;
  color: var(--font-color);
}

section > ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#about_me {
  background-color: var(--section-background);
}
#projects {
  background-color: var(--section-background);
}
