:root {
  --speed: 120s;
  --li-width: 8rem;
  --pink-dark: rgb(209, 62, 148);
  --pink-light: rgb(248, 155, 170);

  --linkedin-blue: rgb(0, 116, 179);
  --linkedin-blue-dark: rgb(0, 116, 200);

  --teal-dark: rgb(0, 167, 167);
  --teal-light: rgb(0, 197, 197);

  --green-dark: green;
  --green-light: rgb(116, 192, 120);

  --orange-dark: orange;
  --orange-light: hsl(34, 93%, 77%);

  --red-dark: rgb(255, 45, 45);
  --red-light: rgb(240 106 106);

  --blue-dark: rgb(0, 114, 177);
  --blue-light: rgb(162, 192, 223);

  --yellow-dark: rgb(255, 255, 0);
  --yellow-light: rgb(242, 234, 161);

  --purple-dark: rgb(128, 0, 128);
  --purple-light: rgb(197, 161, 211);
}

.theme-dark {
  --pink-dark: rgb(209, 62, 148);
  --pink-light: rgb(248, 155, 170);

  --linkedin-blue: rgb(0, 116, 179);
  --linkedin-blue-dark: rgb(0, 116, 200);

  --teal-dark: rgb(0, 167, 167);
  --teal-light: rgb(0, 197, 197);

  --green-dark: green;
  --green-light: rgb(116, 192, 120);

  --orange-dark: orange;
  --orange-light: hsl(34, 93%, 77%);

  --red-dark: rgb(255, 45, 45);
  --red-light: rgb(240 106 106);

  --blue-dark: rgb(0, 114, 177);
  --blue-light: rgb(162, 192, 223);

  --yellow-dark: rgb(255, 255, 0);
  --yellow-light: rgb(242, 234, 161);

  --purple-dark: rgb(128, 0, 128);
  --purple-light: rgb(197, 161, 211);

  --background: rgb(30, 30, 30);
  --anti-background: #f9f8f8;
  --beam-color: rgb(166 166 166);
}
.theme-light {
  --pink-light: rgb(209, 62, 148);
  --pink-dark: rgb(248, 155, 170);

  --linkedin-blue-dark: rgb(0, 116, 179);
  --linkedin-blue: rgb(0, 116, 200);

  --teal-light: rgb(0, 167, 167);
  --teal-dark: rgb(0, 197, 197);

  --green-light: green;
  --green-dark: rgb(116, 192, 120);

  --orange-light: orange;
  --orange-dark: hsl(34, 93%, 77%);

  --red-light: rgb(255, 45, 45);
  --red-dark: rgb(240 106 106);

  --blue-light: rgb(0, 114, 177);
  --blue-dark: rgb(162, 192, 223);

  --yellow-light: rgb(255, 255, 0);
  --yellow-dark: rgb(242, 234, 161);

  --purple-light: rgb(128, 0, 128);
  --purple-dark: rgb(197, 161, 211);

  --anti-background: rgb(30, 30, 30);
  --background: #f9f8f8;
  --beam-color: rgb(63, 62, 62);
}
.blue {
  --icon-bg: var(--blue-light);
  --text-bg: var(--blue-dark);
}
.green {
  --icon-bg: var(--green-light);
  --text-bg: var(--green-dark);
}
.pink {
  --icon-bg: var(--pink-light);
  --text-bg: var(--pink-dark);
}
.teal {
  --icon-bg: var(--teal-light);
  --text-bg: var(--teal-dark);
}
.red {
  --icon-bg: var(--red-light);
  --text-bg: var(--red-dark);
}
.linkedin {
  --icon-bg: var(--linkedin-blue);
  --text-bg: var(--linkedin-blue-dark);
}
.purple {
  --icon-bg: var(--purple-light);
  --text-bg: var(--purple-dark);
}
.orange {
  --icon-bg: var(--orange-light);
  --text-bg: var(--orange-dark);
}
.opacity1 {
  opacity: 1;
}
.opacity0 {
  opacity: 0;
}
.App {
  position: relative;
}
@keyframes orbit {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes hold-position {
  100% {
    transform: rotate(-1turn);
  }
}
@keyframes EnlargeAnimation {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 100%;
  }
}
.orbit {
  --speed: 120s;

  width: var(--size);
  display: grid;
  place-items: center;
}
