.theme-dark .orbit {
  --color: 100;
  --box-shadow: rgba(var(--color), var(--color), var(--color), 0.25) 0px 54px
      55px,
    rgba(var(--color), var(--color), var(--color), 0.12) 0px -12px 30px,
    rgba(var(--color), var(--color), var(--color), 0.12) 0px 4px 6px,
    rgba(var(--color), var(--color), var(--color), 0.17) 0px 12px 13px,
    rgba(var(--color), var(--color), var(--color), 0.09) 0px -3px 5px;
}
.theme-light .orbit {
  --box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.orbit {
  --speed: 120s;
  --li-width: 8rem;
  --size: 13rem;
  --radius: 15rem;
  --arm-length: calc(var(--radius) * sin(3.14159265358979 / 4));
  --padding: calc(var(--radius) + var(--li-width) / 2 - var(--size) / 2);
  --total-width: calc(var(--size) + var(--padding) * 2);
  --top-margin: 1rem;
  /* width: var(--size); */
  padding: var(--padding);
  margin: var(--top-margin) 0;
  /* height: var(--total-width); */
  display: grid;
  place-items: center;
  left: calc(67% - var(--total-width) / 2);
  position: absolute;
}
#home {
  /* --left-color: #4831d4;
  --right-color: #ccf381; */
  /* must be <=50 */
  --transition-pt: 67%;
  --secondary-transition-pt: calc(100% - var(--transition-pt));
  overflow: hidden;
  min-height: 60rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 0 1rem;
  place-items: center;
  position: relative;
  background: linear-gradient(
    90deg,
    var(--left-color) var(--transition-pt),
    var(--right-color) var(--secondary-transition-pt)
  );
}
.home_text_container {
  grid-column: 2/6;
  color: var(--right-color);
}
.home_text_container h1 {
  font-size: 5rem;
  margin: 0;
}
header {
  height: 5rem;
  width: 100%;
}
@media (max-width: 81.25rem) {
  .orbit {
    scale: 0.8;
  }
}
@media (max-width: 57rem) {
  #home {
    background: linear-gradient(
      180deg,
      var(--left-color) var(--transition-pt),
      var(--right-color) var(--secondary-transition-pt)
    );
    display: flex;
    flex-direction: column;
  }
  .orbit {
    top: calc(67% - (var(--total-width) + var(--top-margin)) / 2);
    left: auto;
  }
}
@media (max-width: 31.25rem) {
  .orbit {
    scale: 0.6;
  }
}
@media (max-width: 23.75rem) {
  .home_text_container {
    scale: 0.7;
    width: 100%;
  }
  .orbit {
    scale: 0.5;
  }
}
