:root {
  --star-color: white;
  --background-color: black;
}
.star {
  height: 2px;
  width: 2px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--star-color);
}
.star_container {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--background-color);
}
.star_container > * {
  position: absolute;
  height: 100%;
  width: 100%;
}
#star_layer1 {
  animation: animStar 50s linear infinite;
}
#star_layer1:after {
  position: absolute;
  top: 1000px;
}
#star_layer2 {
  animation: animStar 50s linear infinite;
}
#star_layer3 {
  animation: animStar 20s linear infinite;
}
@keyframes animStar {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translateY(-1000px);
  }
}
