#about_me {
  --about-me-background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-bottom: 1rem; */
  justify-items: flex-start;
  background-color: none;
  position: relative;
  padding: 0 1rem;
}
#about_me * {
  z-index: 1;
}
.section_header {
  grid-column: 1/3;
  text-align: center;
  color: var(--left-color);
  text-decoration-color: var(--left-color);
  width: 20rem;
  margin: 1rem 0;
  border-radius: 3rem;
  font-size: 5rem;
}
.about_me_text {
  margin: 0 0.5rem;
  max-width: 60ch;
  height: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 44rem) {
  .about_me_text {
    margin: 0 1rem;
  }
}
.triangle_background {
  --transition-pt: 50%;
  --secondary-transition-pt: calc(100% - var(--transition-pt));
  width: 100%;
  height: 35rem;
  position: absolute;
}
#about_me_background {
  left: 0;
  background: linear-gradient(
    to top left,
    transparent var(--transition-pt),
    var(--right-color) var(--secondary-transition-pt)
  );
}
@media (max-width: 57rem) {
  #about_me_background {
    height: 20rem;
  }
}
@media (max-width: 32rem) {
  #about_me_background {
    height: 15rem;
  }
}
#about_me_bottom_background {
  z-index: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom right,
    transparent var(--transition-pt),
    var(--left-color) var(--secondary-transition-pt)
  );
}

.about_me_skills {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.about_me_skills > * {
  padding: 5px;
  margin: 5px;
  font-size: 50px;
  /* background-color: var(--color-3); */
  color: var(--about-me-accent);
  border-radius: 10px;
}
.skills_icon {
  color: black;
}
